.header {
    width: 100%;
    background-color: var(--fourth-color);
    color: var(--third-font-color);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .headerLeft {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .headerRight {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .headerButton {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        border-radius: var(--border-radius);
        cursor: pointer;
        padding: 5px;
        gap: 5px;
        
        &:hover {
            background-color: #202020;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
            outline: 1px solid rgb(49, 49, 49);
        }

        img {
            width: 15px;
            height: 15px;
        }

        .headerNameIcon {
            height: 100%;
            width: auto;
            aspect-ratio: 1/1;
            background-color: grey;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            border-radius: var(--border-radius);
        }
    }
}